*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(115, 0, 19);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    height: 20vh;
    width: 20vw;
    background-color: aqua;
    border: 3px solid black;
}