*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: white;
    margin: 0px;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    height: 60vh;
    width: 60vw;
    gap: 5px;
    margin-top: 500px;
}
.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    background-color: white;
    padding: 5px;
}
.item-1{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: lightblue;
}
.item-2{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: orangered;
}
.item-3{
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: blue;
}
.item-4{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: yellow;
}
.item-5{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: purple;
}
.item-6{
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: lightgreen;
}
.item-7{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: lightcoral;
}
.item-8{
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: rgb(16, 145, 83);
}
.item-9{
    grid-column: 3/4;
    grid-row: 3/4;
    background-color: brown;
}
@media(max-width: 658px){
    .item-1{
        background-color: lightcoral;
    }
    .item-2{
        background-color: violet;
    }
    .item-3{
        background-color: palegreen;
    }
    .item-4{
        background-color: blue;
    }
    .item-5{
        background-color: gold;
    }
    .item-6{
        background-color: green;
    }
    .item-7{
        background-color: brown;
    }
    .item-8{
        background-color: olive;
    }
    .item-9{
        background-color: powderblue;
    }

}